<h1>New photo_admin</h1>

<% form_for(:photo, @photo, :url=>{:action=>'create'}, :html=>{:multipart=>true}) do |form| %>
	<%= form.file_field :image_file %>
    <%= form.text_field :description %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', photo_admins_path %>